# General
.DS_Store
Thumbs.db

# PHP/Composer
/vendor/

# Environment variables (Sensitive data)
.env
# config/database.php

# IDEs
.idea/
.vscode/
*.swp

# Logs
error_log
logs/

# Test artifacts
.phpunit.result.cache
