# General
.DS_Store
Thumbs.db

# PHP/Composer
/vendor/
composer.lock

# Tooling caches
.phpunit.cache/
.phpunit.result.cache
.php-cs-fixer.cache
.phpstan.cache/

# Environment variables (Sensitive data)
.env
# config/database.php

# IDEs
.idea/
.vscode/
*.swp

# Logs
error_log
logs/
